---
layout: default
title: Attributions
permalink: /attributions/
---
<h1 class="text-primary" data-i18n="attributions-title">Attributions</h1>
<h2 class="text-gray" data-i18n="attributions-subtitle">Copyright and License Notifications</h2>

{% if site.applications_top.size > 0 %}
{% for item in site.applications_top %}
<h3>{{item.title}}</h3>
<p>{{item.license_copyright}}<br/>
{{item.license_type}}<br/>
{{item.license_url}}<br/>
{{item.license_notes}}</p>
{% endfor %}
{% endif %}

{% if site.applications_espanol.size > 0 %}
{% for item in site.applications_espanol %}
<h3>{{item.title}}</h3>
<p>{{item.license_copyright}}<br/>
{{item.license_type}}<br/>
{{item.license_url}}<br/>
{{item.license_notes}}</p>
{% endfor %}
{% endif %}

{% if site.applications_coding.size > 0 %}
{% for item in site.applications_coding %}
<h3>{{item.title}}</h3>
<p>{{item.license_copyright}}<br/>
{{item.license_type}}<br/>
{{item.license_url}}<br/>
{{item.license_notes}}</p>
{% endfor %}
{% endif %}

{% if site.applications_bible.size > 0 %}
{% for item in site.applications_bible %}
<h3>{{item.title}}</h3>
<p>{{item.license_copyright}}<br/>
{{item.license_type}}<br/>
{{item.license_url}}<br/>
{{item.license_notes}}</p>
{% endfor %}
{% endif %}

{% if site.applications_digital_skills.size > 0 %}
{% for item in site.applications_digital_skills %}
<h3>{{item.title}}</h3>
<p>{{item.license_copyright}}<br/>
{{item.license_type}}<br/>
{{item.license_url}}<br/>
{{item.license_notes}}</p>
{% endfor %}
{% endif %}

{% if site.applications_fun.size > 0 %}
{% for item in site.applications_fun %}
<h3>{{item.title}}</h3>
<p>{{item.license_copyright}}<br/>
{{item.license_type}}<br/>
{{item.license_url}}<br/>
{{item.license_notes}}</p>
{% endfor %}
{% endif %}

{% if site.applications_literacy.size > 0 %}
{% for item in site.applications_literacy %}
<h3>{{item.title}}</h3>
<p>{{item.license_copyright}}<br/>
{{item.license_type}}<br/>
{{item.license_url}}<br/>
{{item.license_notes}}</p>
{% endfor %}
{% endif %}

{% if site.applications_other.size > 0 %}
{% for item in site.applications_other %}
<h3>{{item.title}}</h3>
<p>{{item.license_copyright}}<br/>
{{item.license_type}}<br/>
{{item.license_url}}<br/>
{{item.license_notes}}</p>
{% endfor %}
{% endif %}